.grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	justify-content: center;
	align-items: center;
    margin: 12px;
    

    &:hover .name {
        color: #ce1141;
    }

    &:hover .image {
        transform: scale(1.1);
    }
}

.image {
    max-width: 400px;
    transition: .3s all;
        
	& img {
        object-fit: cover;
        width: 100%;
	}
}

.name {
    font-size: 20px;
    transition: .3s all;
}